{{=<% %>=}}

<div>
    <ion-list>
        <ion-item>
            <ion-label>
                <h2><% slot.timeformatted.date %></h2>
                <p><% slot.timeformatted.starttime %> - <% slot.timeformatted.endtime %></p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h2><% scheduler.teachername %></h2>
                <p><% slot.teacher.fullname %></p>
            </ion-label>
        </ion-item>

        <%# slot.hasappointmentlocation %>
        <ion-item>
            <ion-label>
                <h2><%# str %>location, mod_scheduler<%/ str %></h2>
                <p><% slot.appointmentlocation %></p>
            </ion-label>
        </ion-item>
        <%/ slot.hasappointmentlocation %>

        <%# slot.hasnotes %>
            <ion-item class="ion-text-wrap">
                <ion-label>
                    <h2><%# str %>comments, mod_scheduler<%/ str %></h2>
                    <core-format-text text="<% slot.notesformatted %>" component="mod_scheduler" componentId="<% cmid %>"></core-format-text>
                </ion-label>
            </ion-item>
        <%/ slot.hasnotes %>

        <%# slot.hasappointments %>
            <ion-list-header>
                <ion-label>
                    <%# str %>students, mod_scheduler<%/ str %>
                </ion-label>
            </ion-list-header>

            <%# slot.appointments %>
                <ion-item button core-site-plugins-new-content method="appointment" [args]="{cmid: <% cmid %>, id: <% id %>}" title="<% student.fullname %>" [preSets]="{getFromCache: 0, saveToCache: 0}">
                    <core-user-avatar profileUrl="<% student.profileimageurl %>" slot="start"></core-user-avatar>
                    <ion-label>
                        <h2>
                            <% student.fullname %>
                            <%# hasstudentdata %><%# pix %>attachment, mod_scheduler<%/ pix %><%/ hasstudentdata %>
                        </h2>
                    </ion-label>
                    <%# isattended %>
                    <ion-note slot="end">
                        <ion-icon name="checkmark"></ion-icon>
                    </ion-note>
                    <%/ isattended %>
                </ion-item>
            <%/ slot.appointments %>
        <%/ slot.hasappointments %>

    </ion-list>
</div>
