{{=<% %>=}}

<div>

    <ion-list>
        <ion-item>
            <ion-label>
                <h2><% slot.timeformatted.date %></h2>
                <p><% slot.timeformatted.starttime %> - <% slot.timeformatted.endtime %></p>
            </ion-label>
        </ion-item>

        <%# scheduler.isgroupbookingenabled %>
        <ion-item>
            <ion-label stacked id="mod-scheduler-book-slot-groupid">
                <h2 [core-mark-required]="true"><%# str %>cancelfor, mod_scheduler<%/ str %></h2>
            </ion-label>
            <ion-select interface="popover" name="groupid" [(ngModel)]="groupid"
                    aria-labelledby="mod-scheduler-book-slot-groupid">
                <%# scheduler.isindividualbookingenabled %>
                    <ion-select-option value="0" selected><%# str %>myself, mod_scheduler<%/ str %></ion-select-option>
                <%/ scheduler.isindividualbookingenabled %>
                <%# groups %>
                    <ion-select-option value="<% id %>"><% name %></ion-select-option>
                <%/ groups %>
            </ion-select>
        </ion-item>
        <%/ scheduler.isgroupbookingenabled %>

        <!-- This is required to capture changes in the select -->
        <ion-input type="hidden" [ngModel]="groupid" name="groupid"></ion-input>

        <ion-item>
            <ion-label>
                <ion-button fill="outline" expand="block"
                        core-site-plugins-call-ws
                        name="mod_scheduler_cancel_booking"
                        [params]="{cmid: <% cmid %>, slotid: <% slot.id %>, groupid: groupid}"
                        [preSets]="{getFromCache: 0, saveToCache: 0, typeExpected: 'boolean'}"
                        goBackOnSuccess="true">
                    <%# str %>cancelbooking, mod_scheduler<%/ str %>
                </ion-button>
            </ion-label>
        </ion-item>

    </ion-list>
</div>
