{{=<% %>=}}
<div>
    <ion-card>
        <ion-item>
            <ion-label>
                <p><%# str %>guestscantdoanything, mod_scheduler<%/ str %></p>
            </ion-label>
        </ion-item>
    </ion-card>
</div>
