{{=<% %>=}}

<div>

    <ion-list>
        <%#hasprev%>
            <ion-item>
                <ion-label>
                    <ion-button fill="clear" expand="block" core-site-plugins-new-content method="student_bookable_slots" [args]="{cmid: <% cmid %>, page: <% prevpage %>}" samePage="true">
                        <%# str %>previous<%/ str %>
                    </ion-button>
                </ion-label>
            </ion-item>
        <%/hasprev%>
        <%#slots%>
            <ion-item button core-site-plugins-new-content method="slot" [args]="{cmid: <% cmid%>, id: <% id %>}">
                <ion-label>
                    <h2><% timeformatted.date %></h2>
                    <p><% timeformatted.starttime %> - <% timeformatted.endtime %></p>
                </ion-label>
                <%^ isunlimited %>
                    <%^ isfull %>
                        <ion-note slot="end"><% ntaken %> / <% maxappointments %></ion-note>
                    <%/ isfull %>
                    <%# isfull %>
                        <ion-note slot="end"><%# str %>full, mod_scheduler<%/ str %></ion-note>
                    <%/ isfull %>
                <%/ isunlimited %>
            </ion-item>
        <%/slots%>
        <%#hasnext%>
            <ion-item>
                <ion-label>
                    <ion-button fill="clear" expand="block" core-site-plugins-new-content method="student_bookable_slots" [args]="{cmid: <% cmid %>, page: <% nextpage %>}" samePage="true">
                        <%# str %>next<%/ str %>
                    </ion-button>
                </ion-label>
            </ion-item>
        <%/hasnext%>
    </ion-list>

    <!-- Trigger event when the template is loaded. -->
    <span core-site-plugins-call-ws-on-load name="mod_scheduler_booking_form_viewed" [params]="{cmid: <% cmid %>}" [preSets]="{getFromCache: 0, saveToCache: 0}"></span>
</div>
